<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <h1>Add New</h1>
    <form  method="post" action="/post">
        <input type="username" name="username" placeholder="username">
        <br>
        <br>
        <textarea name="content" id="" placeholder="Give your post"></textarea>
        <button>Submit </button>
    </form>
</body>
</html>